<mat-toolbar class="header-toolbar shadow">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo" routerLink="/">OnoAir</span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="adminMenu">
      <mat-icon>admin_panel_settings</mat-icon> Admin
    </button>
    <button mat-menu-item [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon> User
    </button>
  </mat-menu>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item [routerLink]="'/manage-destinations'">
      Manage Destinations
    </button>
    <button mat-menu-item [routerLink]="'/manage-flights'">
      Manage Flights
    </button>
  </mat-menu>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'/book-flight'">
      Book a Flight
    </button>
    <button mat-menu-item [routerLink]="'/my-bookings'">
      My Bookings
    </button>
  </mat-menu>
</mat-toolbar>