/* Center the text on the page */
.flight-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh; /* Full viewport height */
    text-align: center;
  }
  
  .flight-details-container h1 {
    margin-bottom: 20px;
  }
  
  .flight-details-container p {
    margin: 5px 0;
  }